# general files #
#############################
node_modules
.DS_Store

# build files #
#############################
dist/

### VisualStudioCode ###
.vscode/*

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

# End of https://www.gitignore.io/api/visualstudiocode
local*.json

~/

package-lock.json
